version: "3.8"

services:
  php:
    build: ./php
    ports:
      - "8000:80"
    volumes:
      - .:/workspaces/${LOCAL_WORKSPACE_FOLDER_BASENAME}:cached
      - ./php:/var/www/html
    depends_on:
      - db

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: database
      MYSQL_USER: cm9804534mf
      MYSQL_PASSWORD: dsd0otdd33

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
      PMA_USER: cm9804534mf
      PMA_PASSWORD: dsd0otdd33
